<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <a href="#" class="car">Student List</a>
        <div class="menu-toggle"></div>
        <div>
            <nav>
                <ul>
                    <li><a href="/" class="active">List Student</a></>
                    <li><a href="/create-student">Create Student</a></li>
                    <li><a href="/delete-student">Delete Student</a></li>
                    <!-- <li><a href="/update-student">Update Student</a></li> -->
                </ul>
            </nav>
        </div>
        <div class="clearfloat"></div>
    </header>
