<%- include('./includes/head.ejs') %>
<div id="main">
    
    <button onclick="deleteProduct()">List Student</button>

</div>
<script src="/js/student.js"></script>
<%- include('./includes/end.ejs') %>